*{
    font-family: 'Roboto';
    background-color: #1b262c;
    color: #EEEEEE;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1b262c;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #48B4FF;
    color: white;
  }

  .topnav a.login{
      float: right;
      background-color:  #48B4FF;
  }

.logo{
     width: 50px;
     top: 50px; 
     float: left;
  }

   h1,ul, li {
     text-align: center;
     text-decoration-color: aqua;
   }
